body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #A3A1AC;
    position: fixed;
    overflow: hidden;
}

*{
    font-family: 'Lilita One', cursive;
    box-sizing: border-box;
}

.start,.game,.final{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.game-title{
    margin-top: 30px;
    align-self: center;
    width: 40%;
}

.title{
    width: 50%;
    box-sizing: content-box;
}

.preview{
    width: 100%;
    margin: 0px auto;
    padding: 1%;
}

.startButton, .confrimButton,.againButton,.homeButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #FAD96E;
    box-shadow: 0px 8px #D0B14B;
    color: white;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 30px;
    font-size: 25px;
}

.startButton:active,.againButton:active,.homeButton:active{
    animation: animate 0.2s;
    -webkit-animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
        -webkit-transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
        -webkit-transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
        -webkit-transform: rotate(0deg) translateX(0px);
    }
}

.homeButton{
    background-color: #D0B14B;
    box-shadow: 0px 8px #FAD96E;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.game{
    color: black;
}

.number{
    margin-top: 30px;
    font-size: 25px;
    color: white;
}

h1{
    margin: 0;
}

.object{
    width: 50%;
    margin: 0 auto;
}

.options{
    height: 160px;
    display: grid;
    gap: 10%;
    grid-template-columns: 50%;
    justify-content: center;
}

.image{
    margin: 0 auto;
    margin-top: 80px;
    width: 80%;
}

.hint{
    margin: 0% auto;
    width: 80%;
    font-size: 25px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#btn1, #btn2, #btn3{
    padding: 5%;
    background-color: #BEBEBE;
    border: transparent;
    font-size: 20px;
    border-radius: 10px;
}

.hide{
    visibility: hidden;
    display: none;
}

/*mobile*/
@media screen and (max-width: 767px){
    .startButton, .confrimButton,.againButton,.homeButton{
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .start,.game,.final{
        margin-top: 30px;
    }
    .preview{
        width: 80%;
    }
    .startButton, .confrimButton,.againButton,.homeButton{
        padding: 3% 2.5%;
        max-width: 300px;
    }
    .words{
        font-size: 30px;
    }
    .arrowHead{
        max-width: 20px;
    }
    .image{
        width: 70%;
    }
    .number{
        margin: 0;
    }
    .object{
        width: 40%;
    }
    h1{
        font-size: 70px;
    }
    .options{
        gap: 5%;
        height: 300px;
    }
    .hint,.number,#btn1,#btn2,#btn3{
        font-size: 35px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
        display: flex;
        justify-content: center;
    }
    .start,.selection, .game, .final{
        max-width: 400px;
    }
    .startButton,.againButton,.homeButton{
        padding: 5%;
        max-width: 250px;
    }
    .confrimButton{
        padding: 3%;
        max-width: 250px;
        margin-bottom: 0;
    }
    .number{
        margin-top: 0;
    }
    .options{
        height: 150px;
        gap: 5%;
    }
    .hint,.number{
        font-size: 20px;
    }
    .game{
     gap: 10px;
    }
    .image{
        margin: 0 auto;
    }
}